
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="/static/assets/static/images/mclip1.png" alt="">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h4 class="lh-1 mB-0 logo-text">AMRTrack</h4>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Dashboard Statistics</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="/ml_analysis/">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-share"></i>
                </span>
                <span class="title">ML Inference</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="/antibiogram/">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 ti-calendar"></i>
                </span>
                <span class="title">Antibiogram</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="/charts.html">
                <span class="icon-holder">
                  <i class="c-indigo-500 ti-bar-chart"></i>
                </span>
                <span class="title">Statistical Analysis</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-toggle" href="/vector-maps.html">
                <span class="icon-holder">
                    <i class="c-purple-500 ti-map"></i>
                  </span>
                <span class="title">Geographical Analysis</span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/vector-maps.html">Statewise</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="dropdown-toggle" href="/managedb.html">
                <span class="icon-holder">
                  <i class="c-teal-500 ti-view-list-alt"></i>
                </span>
                <span class="title">Manage Database</span>
                
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href={% url 'logout' %}>
                <span class="icon-holder">
                    <i class="ti-power-off mR-10"></i>
                  </span>
                <span class="title">Logout</span>
              </a>
            </li>            
          </ul>
        </div>
      </div>
